{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": 0,
    "comma-dangle": 0,
    "no-param-reassign": 0,
    "react/jsx-first-prop-new-line": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": ".storybook/webpack.config.js"
      }
    }
  }
}
